:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #2e2f4266;
  --hero-background-color: #2e2f42b2;
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}

.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}
nav > a:hover {
  color: #404bbf;
}

.navlink:hover,
.navlink:focus,
.navlink:active .navlink:visited {
  color: #404bbf;
}

.logo-studio {
  color: var(--dark-color);
}

.list {
  list-style: none;
}

.logo-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.link {
  text-decoration: none;
}

.motto {
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  color: #ffffff;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}

.our_values {
  font-weight: 500;
  font-family: Roboto;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}

.our-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 72px;
}
.paragraph {
  font-size: 16px;
  letter-spacing: 0.02em;
}
.value {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.punctuality {
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}
.third-section {
  background-color: #ffffff;
  padding-bottom: 120px;
}

.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-weight: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

.what-are-we-doing {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}
.list-item {
  background-color: #ffffff;
}
.fullname {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.navlink {
  color: var(--dark-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding: 24px 0;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  margin-right: 76px;
}
.logo-studio {
  color: var(--dark-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.filter-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  background-color: #404bbf;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  cursor: pointer;
}
.portfoliobutton {
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfoliobutton:hover,
.portfoliobutton:focus,
.portfoliobutton:active {
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.imagetext {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.address {
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 24px;
}

.section-four {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.our-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}

.footer {
  background-color: var(--dark-color);
  padding: 100px 0;
}
.footerspan {
  color: #f4f4fd;
}

.address-link {
  color: var(--text-color);
  letter-spacing: 0.02em;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus,
.address-link:visited {
  color: #404bbf;
}
.first-section {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background.jpeg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.footer-paragraph {
  color: var(--light-color);
  letter-spacing: 0.02em;
  max-width: 264px;
}

img {
  display: block;
}

.headerhtml {
  border-bottom: 1px solid #e7e9fc;
  height: 72px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container-header {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.navhtml {
  display: flex;
  align-items: center;
  padding-right: 332px;
}

.menu {
  display: flex;
  gap: 40px;
}
.addresslist {
  display: flex;
  gap: 40px;
}
.order-service-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--primary-brand-color);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
}
.second-section {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-second-section {
  display: flex;
  gap: 24px;
}
.values-list {
  width: calc((100% - 3 * 24px) / 4);
}

.third-section-list {
  display: flex;
  gap: 24px;
  background-color: #ffffff;
}
.tsli {
  width: calc((100%-48px) / 3);
}
.section-four-list {
  display: flex;
  gap: 24px;
}
.sfli {
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name-function {
  padding: 32px 0px;
}
.function {
  text-align: center;
  margin-bottom: 8px;
}
.footerlink {
  display: inline-block;
  margin-bottom: 16px;
}
.section-one-portfolio {
  padding: 96px 0 120px 0;
}
.list-portfolio {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfoliobutton {
  padding: 12px 24px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}
.portfoliobutton:hover,
.portfoliobutton:focus {
  border: 1px solid transparent;
}
.list-portfolio-two {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}
.name-and-category-of-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.contacts {
  padding-right: 332px;
}

.menulink {
  display: inline-block;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.social-media-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
}
.smfooterlist {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style: none;
}
.social-media-li {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sm-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-link:hover,
.sm-link:focus {
  background-color: #404bbf;
}
.footer-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}
.sm-icon {
  fill: var(--light-color);
}
.section-five {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers {
  font-size: 36px;
  line-height: 1.11;
  color: var(--dark-color);
  margin-bottom: 72px;
  text-align: center;
}
.clients-list {
  display: flex;
  gap: 24px;
  list-style: none;
}
.customer-logo {
  width: calc((100% - 120px) / 6);
  height: 88px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--subtle-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover {
  border-color: #404bbf;
  color: #404bbf;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:focus {
  border-color: #404bbf;
  color: #404bbf;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-icon {
  fill: currentColor;
}
.customer-link {
  fill: currentColor;
}
.sm-footer-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
  margin-bottom: 16px;
}
.footer-flex {
  display: flex;
  align-items: baseline;
}
.footer-first-subcontainer {
  margin-right: 120px;
}
.portfoliobutton:hover,
.portfoliobutton:focus,
.portfoliobutton:visited {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transform: translateY(0%);
}
.portfolio-img-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img-link:hover,
.portfolio-img-link:focus,
.portfolio-img-link:visited {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-img-link:hover .portfolio-overlay-text,
.portfolio-img-link:focus .portfolio-overlay-text {
  transform: translateY(0%);
}
.modal {
  position: absolute;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-p{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5; 
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 16px; 
}
.modal-form-div{
  margin-bottom: 8px;
}
.label-name{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
  display: block;
  margin-bottom: 4px;
}
.input-icon-div{
  position: relative; 
}
.modal-input-name{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
background-color: transparent;
}
.modal-input-name:focus{
  border-color: #4D5AE5;
}
.modal-input-name:focus + .modal-name-svg{
  fill: #4D5AE5;
}
.modal-name-svg{
  position: absolute;
  left: 16px;
  top: 50%; 
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-name-svg:focus{
  fill: #4D5AE5;
}
.close-button {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 24px;
  padding: 0;
  color: #2e2f42;
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.close-button-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop {
  position: fixed;
  inset: 0 0 auto;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 1;
  pointer-events: all;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.underline {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.underline::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.portfolio-overlay {
  overflow: hidden;
  position: relative;
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover {
  transform: translateY(100%);
}



.portfolio-link:focus {
  transform: translateY(100%);
}
.portfolio-overlay-text {
  transform: translateY(100%);
}

.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;

}

.footer-form-p {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.form-container{
  padding-left: 80px;
}
.form-label-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  gap: 24px;
}
placeholder {
  color #ffffff;
}
.subscribe-button{
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer; 
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
}
.subscribe-button-icon{
margin-left: 16px;
}

.div-comment{
  margin-bottom: 16px;
}
.textarea{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea:focus{
  border-color: #4D5AE5;
}
.comment-box{
  margin-bottom: 16px;
}
.textarea-comment{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-comment:focus{
  border-color: #4D5AE5;
}
.container-check{
  margin-bottom: 24px;
}
.input-check{
}
.terms-of-condition{
  display: block;
  font-size: 12px;
  line-height: 1.17;
letter-spacing: 0.04em;
color: var(--subtle-text-color);
}
.label-span{
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.input-check:checked + .terms-of-condition .label-span{
  background-color: var(--pressed-state-color);
  border: none;
  fill: var(--light-color);
}
.checkbox-link{
  color: var(--primary-brand-color);
}
.send-button{
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}
.label-span{
  margin-right: 8px;
}