:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #2e2f4266;
  --hero-background-color: #2e2f42b2;
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;
}
* {
  margin: 0;
  padding: 0;
}

/*MOBILE*/
.menu {
  display: none;
}
.address {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}
.body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
  font-weight: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

/*HEADER*/
.headerhtml {
  border-bottom: 1px solid var(--accent-color);
  height: 72px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container-header {
  display: flex;
}
.container {
  max-width: 428px;
  margin: 0 auto;
  padding: 0 15px;
}
.menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
}

nav > a:hover {
  color: var(--pressed-state-color);
}

.navhtml {
  display: flex;
  align-items: center;
  padding-right: 332px;
  padding-top: 25px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  margin-right: 76px;
}
.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--pressed-state-color);
}
.logo-studio {
  color: var(--dark-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.menu {
  display: flex;
  gap: 40px;
}

.navlink {
  color: var(--dark-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding: 24px 0;
}

.navlink:hover,
.navlink:focus,
.navlink:active .navlink:visited {
  color: var(--pressed-state-color);
}
.underline {
  position: relative;
  color: var(--pressed-state-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.underline::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--pressed-state-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.menulink {
  display: inline-block;
}
.address {
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 24px;
}
.addresslist {
  display: flex;
  gap: 40px;
}
.address-link {
  color: var(--text-color);
  letter-spacing: 0.02em;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus,
.address-link:visited {
  color: var(--pressed-state-color);
}
.mobile-address-li {
  padding-bottom: 48px;
}

/*SECTION_ONE*/
.first-section {
  background-color: var(--dark-color);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-in-the-office-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.motto {
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  color: var(--white-background-color);
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}
.filter-button {
  background-color: var(--primary-brand-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--pressed-state-color);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  cursor: pointer;
}
.order-service-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--primary-brand-color);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
}

/*SECTION_TWO*/
.second-section {
  padding: 120px 0;
}
.our_values {
  font-weight: 500;
  font-family: Roboto;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: var(--dark-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-second-section {
  gap: 72px 24px;
  margin: 0 auto;
  max-width: 736px;
}
.values-list {
  max-width: 356px;
}
.icon-container {
  display: none;
}
.value {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
  margin-bottom: 8px;
  text-align: center;
}
.paragraph {
  font-size: 16px;
  letter-spacing: 0.02em;
}

/*SECTION_THREE*/
.third-section {
  display: none;
}
.what-are-we-doing {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}
.third-section-list {
  display: flex;
  gap: 24px;
  background-color: var(--white-background-color);
}
.tsli {
  width: calc((100%-48px) / 3);
}

/*SECTION_FOUR*/
.section-four {
  background-color: var(--light-color);
}
.our-team {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
  padding-top: 96px;
}
.section-four-list {
  margin: 0 auto;
  padding-bottom: 96px;
}

.list-item {
  background-color: var(--white-background-color);
}
.sfli {
  max-width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-function {
  padding: 32px 0px;
}

.fullname {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
  text-align: center;
  margin-bottom: 8px;
}
.function {
  text-align: center;
  margin-bottom: 8px;
}
.social-media-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
}
.social-media-li {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sm-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-link:hover,
.sm-link:focus {
  background-color: var(--pressed-state-color);
}
.sm-icon {
  fill: var(--light-color);
}

/*SECTION_FIVE*/
.section-five {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers {
  font-size: 36px;
  line-height: 1.11;
  color: var(--dark-color);
  margin-bottom: 72px;
  text-align: center;
  column-gap: 16px;
}
.clients-list {
  margin: 0 auto;
  list-style: none;
  gap: 16px;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  margin: 0;
  padding-left: 0;
}
.customer-logo {
  width: 190px;
  height: 88px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  gap: 72px 24px;
  margin: 0 auto;
}
.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--subtle-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}

.customer-link:hover {
  border-color: var(--pressed-state-color);
  color: var(--pressed-state-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:focus {
  border-color: var(--pressed-state-color);
  color: var(--pressed-state-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-icon {
  fill: currentColor;
}

/*FOOTER*/
placeholder {
  color: var(--white-background-color);
}
.footer {
  background-color: var(--dark-color);
  padding: 96px 0;
}
.footer-flex {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 428px;
  justify-content: center;
}
.footer-first-subcontainer {
  margin: 0 auto 72px auto;
}
.footerlink {
  display: inline-block;
  margin-bottom: 16px;
  text-align: center;
  width: 100%;
}
.footerspan {
  color: var(--light-color);
}
.footer-paragraph {
  color: var(--light-color);
  letter-spacing: 0.02em;
  max-width: 264px;
}
.sm-footer-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
  margin-bottom: 16px;
  text-align: center;
  display: block;
}
.smfooterlist {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style: none;
  margin-bottom: 72px;
}
.footer-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--success-color);
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-form-p {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
}
.footer-form {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
}
.form-label-input {
  height: 40px;
  border: 1px solid var(--white-background-color);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-background-color);
  gap: 24px;
  width: 389px;
}
.subscribe-button {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
  cursor: pointer;
  background-color: var(--primary-brand-color);
  border: none;
  border-radius: 4px;
}
.subscribe-button-icon {
  margin-left: 16px;
}

/*MODAL*/
.backdrop {
  position: fixed;
  inset: 0 0 auto;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 1;
  pointer-events: all;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.modal {
  position: absolute;
  background: var(--modal-background-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.close-button {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 24px;
  padding: 0;
  color: var(--dark-color);
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
  background-color: var(--pressed-state-color);
  border: none;
  fill: var(--white-background-color);
}
.close-button-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 16px;
}
.modal-form-div {
  margin-bottom: 8px;
}
.label-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
  display: block;
  margin-bottom: 4px;
}
.input-icon-div {
  position: relative;
}
.modal-input-name {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}
.modal-input-name:focus {
  border-color: var(--primary-brand-color);
}
.modal-input-name:focus + .modal-name-svg {
  fill: var(--primary-brand-color);
}
.modal-name-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-name-svg:focus {
  fill: var(--primary-brand-color);
}
.comment-box {
  margin-bottom: 16px;
}
.textarea-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-comment:focus {
  border-color: var(--primary-brand-color);
}
.container-check {
  margin-bottom: 24px;
}
.input-check:checked + .terms-of-condition .label-span {
  background-color: var(--pressed-state-color);
  border: none;
  fill: var(--light-color);
}
.terms-of-condition {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
}
.label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.checkbox-link {
  color: var(--primary-brand-color);
}
.send-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
  cursor: pointer;
  background-color: var(--primary-brand-color);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

/*MOBILE_MENU*/
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background-color: var(--white-background-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .nav-list {
  gap: 0;
  justify-content: start;
  max-width: 200px;
}

.menu-container .active-page::after {
  display: none;
}

.menu-container .address {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 48px;
}
.nav-link {
  color: var(--dark-color);
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  padding-top: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-address-list {
  flex-wrap: wrap;
  gap: 40px;
  justify-content: start;
  max-width: 353px;
}
.menu-address-li:first-child {
  color: var(--primary-brand-color);
  font-size: 36px;
  font-weight: 700;
  min-width: 353px;
}

.menu-address-li:first-child .address-link {
  color: var(--primary-brand-color);
}
.menu-social {
  gap: 56px;
  justify-content: start;
}
/*PORTFOLIO*/
/*SECTION_ONE_PORTFOLIO*/
img {
  display: block;
}
.section-one-portfolio {
  padding: 96px 0 120px 0;
}
.list-portfolio {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfoliobutton {
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 24px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.portfoliobutton:hover,
.portfoliobutton:focus,
.portfoliobutton:active {
  color: var(--white-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transform: translateY(0%);
  border: 1px solid transparent;
}
/*SECTION_TWO_PORTFOLIO*/

.list-portfolio-two {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-img-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img-link:hover,
.portfolio-img-link:focus,
.portfolio-img-link:visited {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-img-link:hover .portfolio-overlay-text,
.portfolio-img-link:focus .portfolio-overlay-text {
  transform: translateY(0%);
}
.portfolio-overlay {
  overflow: hidden;
  position: relative;
}
.portfolio-overlay-text {
  position: absolute;
  top: 0;
  background-color: var(--primary-brand-color);
  color: var(--light-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-overlay-text {
  transform: translateY(100%);
}
.name-and-category-of-app {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
}
.imagetext {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}
.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin: 0;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}
@media screen and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .starting-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-in-the-office-mobile.jpg");
  }
}
=================================================
  TABLET
  👇
  =========================================
  body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    background-color: var(--white-background-color);
  }
  .body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    background-color: var(--white-background-color);
    font-weight: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
  }

  /*HEADER*/
  .headerhtml {
    border-bottom: 1px solid var(--accent-color);
    height: 72px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .container-header {
    display: flex;
  }
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
  }

  nav > a:hover {
    color: var(--pressed-state-color);
  }

  .navhtml {
    display: flex;
    align-items: center;
    padding-right: 332px;
  }
  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand-color);
    margin-right: 76px;
  }
  .link {
    text-decoration: none;
  }
  .link:hover,
  .link:focus {
    color: var(--pressed-state-color);
  }
  .logo-studio {
    color: var(--dark-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
  }
  .list {
    list-style: none;
  }
  .menu {
    display: flex;
    gap: 40px;
  }

  .navlink {
    color: var(--dark-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding: 24px 0;
  }

  .navlink:hover,
  .navlink:focus,
  .navlink:active .navlink:visited {
    color: var(--pressed-state-color);
  }
  .underline {
    position: relative;
    color: var(--pressed-state-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .underline::after {
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--pressed-state-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
  }
  .menulink {
    display: inline-block;
  }
  .address {
    font-style: normal;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .addresslist {
    display: flex;
    gap: 40px;
  }
  .address-link {
    color: var(--text-color);
    letter-spacing: 0.02em;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover,
  .address-link:focus,
  .address-link:visited {
    color: var(--pressed-state-color);
  }

  /*SECTION_ONE*/
  .first-section {
    background-color: var(--dark-color);
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background.jpeg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
  }

  .motto {
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    color: var(--white-background-color);
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
  }
  .filter-button {
    background-color: var(--primary-brand-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .filter-button:hover,
  .filter-button:focus {
    background-color: var(--pressed-state-color);
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    cursor: pointer;
  }
  .order-service-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: var(--primary-brand-color);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 48px;
    margin-right: auto;
    margin-left: auto;
  }

  /*SECTION_TWO*/
  .second-section {
    padding: 120px 0;
  }
  .our_values {
    font-weight: 500;
    font-family: Roboto;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--dark-color);
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .list-second-section {
    display: flex;
    gap: 24px;
  }
  .values-list {
    width: calc((100% - 3 * 24px) / 4);
  }
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--light-color);
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .value {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 20px;
    line-height: 1.2;
    color: var(--dark-color);
    margin-bottom: 8px;
  }
  .paragraph {
    font-size: 16px;
    letter-spacing: 0.02em;
  }

  /*SECTION_THREE*/
  .third-section {
    background-color: var(--white-background-color);
    padding-bottom: 120px;
  }
  .what-are-we-doing {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
    margin-bottom: 72px;
  }
  .third-section-list {
    display: flex;
    gap: 24px;
    background-color: var(--white-background-color);
  }
  .tsli {
    width: calc((100%-48px) / 3);
  }

  /*SECTION_FOUR*/
  .section-four {
    background-color: var(--light-color);
    padding: 120px 0;
  }
  .our-team {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
    margin-bottom: 72px;
  }
  .section-four-list {
    display: flex;
    gap: 24px;
  }
  .list-item {
    background-color: var(--white-background-color);
  }
  .sfli {
    width: calc((100%-72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .name-function {
    padding: 32px 0px;
  }

  .fullname {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 20px;
    line-height: 1.2;
    color: var(--dark-color);
    text-align: center;
    margin-bottom: 8px;
  }
  .function {
    text-align: center;
    margin-bottom: 8px;
  }
  .social-media-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
  }
  .social-media-li {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .sm-link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .sm-link:hover,
  .sm-link:focus {
    background-color: var(--pressed-state-color);
  }
  .sm-icon {
    fill: var(--light-color);
  }

  /*SECTION_FIVE*/
  .section-five {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers {
    font-size: 36px;
    line-height: 1.11;
    color: var(--dark-color);
    margin-bottom: 72px;
    text-align: center;
  }
  .clients-list {
    display: flex;
    gap: 24px;
    list-style: none;
  }
  .customer-logo {
    width: calc((100% - 120px) / 6);
    height: 88px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customer-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--subtle-text-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--subtle-text-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
  }

  .customer-link:hover {
    border-color: var(--pressed-state-color);
    color: var(--pressed-state-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customer-link:focus {
    border-color: var(--pressed-state-color);
    color: var(--pressed-state-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customer-icon {
    fill: currentColor;
  }

  /*FOOTER*/
  placeholder {
    color: var(--white-background-color);
  }
  .footer {
    background-color: var(--dark-color);
    padding: 100px 0;
  }
  .footer-flex {
    display: flex;
    align-items: baseline;
  }
  .footer-first-subcontainer {
    margin-right: 120px;
  }
  .footerlink {
    display: inline-block;
    margin-bottom: 16px;
  }
  .footerspan {
    color: var(--light-color);
  }
  .footer-paragraph {
    color: var(--light-color);
    letter-spacing: 0.02em;
    max-width: 264px;
  }
  .sm-footer-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-background-color);
    margin-bottom: 16px;
  }
  .smfooterlist {
    display: flex;
    justify-content: center;
    gap: 16px;
    list-style: none;
  }
  .footer-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-link:hover,
  .footer-link:focus {
    background-color: var(--success-color);
  }
  .form-container {
    padding-left: 80px;
  }
  .footer-form-p {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-background-color);
  }
  .footer-form {
    display: flex;
    gap: 24px;
  }
  .form-label-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--white-background-color);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white-background-color);
    gap: 24px;
  }
  .subscribe-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background-color);
    cursor: pointer;
    background-color: var(--primary-brand-color);
    border: none;
    border-radius: 4px;
  }
  .subscribe-button-icon {
    margin-left: 16px;
  }

  /*MODAL*/
  .backdrop {
    position: fixed;
    inset: 0 0 auto;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    opacity: 1;
    pointer-events: all;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
  .modal {
    position: absolute;
    background: var(--modal-background-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
  }
  .close-button {
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    width: 24px;
    height: 24px;
    right: 24px;
    top: 24px;
    padding: 0;
    color: var(--dark-color);
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .close-button:hover,
  .close-button:focus {
    background-color: var(--pressed-state-color);
    border: none;
    fill: var(--white-background-color);
  }
  .close-button-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 16px;
  }
  .modal-form-div {
    margin-bottom: 8px;
  }
  .label-name {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text-color);
    display: block;
    margin-bottom: 4px;
  }
  .input-icon-div {
    position: relative;
  }
  .modal-input-name {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
  }
  .modal-input-name:focus {
    border-color: var(--primary-brand-color);
  }
  .modal-input-name:focus + .modal-name-svg {
    fill: var(--primary-brand-color);
  }
  .modal-name-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-name-svg:focus {
    fill: var(--primary-brand-color);
  }
  .comment-box {
    margin-bottom: 16px;
  }
  .textarea-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .textarea-comment:focus {
    border-color: var(--primary-brand-color);
  }
  .container-check {
    margin-bottom: 24px;
  }
  .input-check:checked + .terms-of-condition .label-span {
    background-color: var(--pressed-state-color);
    border: none;
    fill: var(--light-color);
  }
  .terms-of-condition {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text-color);
  }
  .label-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
  }
  .checkbox-link {
    color: var(--primary-brand-color);
  }
  .send-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background-color);
    cursor: pointer;
    background-color: var(--primary-brand-color);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
  }

  /*MOBILE_MENU*/
  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    background-color: var(--white-background-color);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .menu-container.is-open {
    transform: translateX(0);
  }

  .menu-container .nav-list {
    gap: 0;
    justify-content: start;
    max-width: 200px;
  }

  .menu-container .active-page::after {
    display: none;
  }

  .menu-container .address {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 48px;
  }
  .nav-link {
    color: var(--dark-color);
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.11;
    padding-top: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-address-list {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: start;
    max-width: 353px;
  }
  .menu-address-li:first-child {
    color: var(--primary-brand-color);
    font-size: 36px;
    font-weight: 700;
    min-width: 353px;
  }

  .menu-address-li:first-child .address-link {
    color: var(--primary-brand-color);
  }

  /*PORTFOLIO*/
  /*SECTION_ONE_PORTFOLIO*/
  img {
    display: block;
  }
  .section-one-portfolio {
    padding: 96px 0 120px 0;
  }
  .list-portfolio {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
  }

  .portfoliobutton {
    color: var(--primary-brand-color);
    background-color: var(--light-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 12px 24px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
  }

  .portfoliobutton:hover,
  .portfoliobutton:focus,
  .portfoliobutton:active {
    color: var(--white-background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    transform: translateY(0%);
    border: 1px solid transparent;
  }
  /*SECTION_TWO_PORTFOLIO*/

  .list-portfolio-two {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
  .portfolio-img-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-img-link:hover,
  .portfolio-img-link:focus,
  .portfolio-img-link:visited {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .portfolio-img-link:hover .portfolio-overlay-text,
  .portfolio-img-link:focus .portfolio-overlay-text {
    transform: translateY(0%);
  }
  .portfolio-overlay {
    overflow: hidden;
    position: relative;
  }
  .portfolio-overlay-text {
    position: absolute;
    top: 0;
    background-color: var(--primary-brand-color);
    color: var(--light-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-overlay-text {
    transform: translateY(100%);
  }
  .name-and-category-of-app {
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
  }
  .imagetext {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 8px;
  }
  .portfolio-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin: 0;
  }
}
/* ================================================= NOT DESKTOP 👇 ========================================= */
@media screen and (max-width: 1157px) {
  .icon-features {
    display: none;
  }
}
/* ================================================= DESKTOP 👇 ========================================= */
@media screen and (min-width: 1158px) {
}
